/*=== Google Fonts 'Inter' & Furore Import ===*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('../font/style.css');

/*=== Variables ===*/
:root {

    /* Colors */
    --clr-primary: #c41122;

    /* Global Variables */
    --ff-inter: 'Inter', sans-serif;
    --ff-furore: 'Furore', sans-serif;

}


/*=== Global Styles ===*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-inter);
}

a {
    text-decoration: none;
    color: #1b1b1b;
}

body {
    animation: pageTransition 0.45s;
}

@keyframes pageTransition {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

.header-title {
    font-family: var(--ff-furore);
}

.header-title > span {
    font-family: var(--ff-furore);
    color: var(--clr-primary);
}

.text-danger-2 {
    color: var(--clr-primary);
}

.btn-danger-2 {
    background-color: var(--clr-primary);
    color: #fbfbfb;
    border: 0;
    outline: 0;
    padding: 8px 25px;
    cursor: pointer;
    transition: 0.2s;
}
.btn-danger-2:hover {
    background-color: #b41020;
}

/*=== Navbar ===*/

.logo {
    width: 100px;
}

.nav-link {
    font-weight: 500;
    color: #e0e0e0;
}

.nav-link:hover {
    color: var(--clr-primary);
}

/*=== Anime List Content ===*/

.anime-card {
    cursor: pointer;
}

.anime-card img {
    border-radius: 10px;
    max-width: 300px;
    width: 100%;
    height: 420px;
    object-fit: cover;
    transition: 0.2s;
}

.anime-card:hover img {
    transform: scale(1.02);
}

/*=== Anime Search ===*/
.no-results {
    display: none;
}

.search-box {
    display: flex;
    justify-content: center;
}
.search-box input {
    display: inline-block;
    max-width: 420px;
    width: 90%;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 15px;
}

.search-btn {
    display: flex;
    justify-content: center;
}

.search-btn button {
    display: inline-block;
    max-width: 420px;
    width: 90%;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 15px;
}

/*=== Anime Details ===*/

.anime-main {
    background-color: #efefef;
}

.anime-img {
    width: 320px;
}

.manga-img {
    width: 320px;
}

.anime-state {
    max-width: 320px;
    width: 100%;
}

.manga-state {
    max-width: 320px;
    width: 100%;
}

.state-red {
    background-color: #e91f40;
    text-transform: uppercase;
}

.state-green {
    background-color: #21ba57;
    text-transform: uppercase
}

.state-purple {
    background-color: #c504e4;
    text-transform: uppercase
}

.fav-body {
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
}

.title-bg {
    min-height: 35vh;
    background-color: #090909;
    color: #fbfbfb;
    display: flex;
    align-items: center;   
}

.anime-trailer {
    width: 100%;
    aspect-ratio: 16/9;
}

.group-data {
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
}

.anime-premier {
    text-transform: capitalize;
}